<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="section-header">
            <div class="header-wrap">
                <div class="header">
                    <div class="container">
                        <div class="d-flex justify-content-between">
                            <div class="header-logo"><a><img src="~/img/logo.png" /></a></div>
                            <div class="header-search">
                                <div class="header-buy-link">Gửi link/hình ảnh<br>để nhận báo giá</div>
                                <form>
                                    <div class="search-box">
                                        <img src="~/img/search.png"/>
                                        <input type="text" class="search-box-text" placeholder="Nhập link hoặc tên sản phẩm bạn cần mua" />
                                        <i class="fa fa-picture-o search-box-button" aria-hidden="true"></i>
                                    </div>
                                </form>
                            </div>
                            <div class="header-tool">
                                <div class="notification-wrap">
                                    <div class="img-box">
                                        <img src="~/img/bell.png" class="img-tool" />
                                    </div>
                                </div>
                                <div class="user-wrap">
                                    <div class="img-box">
                                        <img src="~/img/account.png" class="img-tool"/>
                                    </div>
                                </div>
                                <div class="cart-wrap">
                                    <div class="img-box">
                                        <img src="~/img/cart.png" class="img-tool" />
                                    </div>
                                </div>
                            </div>
                            <div class="header-language">
                                <a>
                                    <img src="~/img/vietnamese.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-menu">
                    <div class="container d-flex align-items-center">
                        <div class="menu">
                            <ul class="list-item">
                                <li class="top-menu-item">
                                    <a> HOT DEALS </a>
                                </li>
                                <li class="top-menu-item">
                                    <a> HNCMUA ORDER </a>
                                </li>
                                <li class="top-menu-item">
                                    <a> HNCMUA SHOP </a>
                                </li>
                                <li class="top-menu-item">
                                    <a> HNCMUA EXPORT</a>
                                </li>
                                <li class="top-menu-item">
                                    <a> BLOGS </a>
                                </li>
                            </ul>
                        </div>
                        <div class="track-order">
                            <a>Theo dõi đơn hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-wrap">
        <div class="partner-logo">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <a>
                        <img src="~/img/0000002_desktops.jpg" />
                    </a>
                    <a>
                        <img src="~/img/0000017_apple.jpg" />
                    </a>
                    <a>
                        <img src="~/img/asos.png" />
                    </a>
                    <a>
                        <img src="~/img/b.png" />
                    </a>
                    <a>
                        <img src="~/img/casio.png" />
                    </a>
                    <a>
                        <img src="~/img/nike.png" />
                    </a>
                        <a>
                        <img src="~/img/panasonic.png" />
                        </a>
                    <a>
                        <img src="~/img/zara.png" />
                    </a>
                    <a>
                        <img src="~/img/kw.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                <div class="row">
                    <div class="col-3">
                        <div class="title">
                            HỖ TRỢ KHÁCH HÀNG
                        </div>
                         <div class="contents">
                                <ul>
                                    <li>
                                        <a>Hướng dẫn đặt hàng</a>
                                    </li>
                                    <li>
                                        <a>Lưu ý khi mua hàng</a>
                                    </li>
                                    <li>
                                        <a>Chính sách thanh toán</a>
                                    </li>
                                    <li>
                                        <a>Chính sách tích điểm HNCpoint</a>
                                    </li>
                                    <li>
                                        <a>Chính sách vận chuyển & giao hàng</a>
                                    </li>
                                    <li>
                                        <a>Chính sách đền bù</a>
                                    </li>
                                    <li>
                                        <a>Giải quyết khiếu nại</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-3">
                            <div class="title">
                                VỀ HNCMUA.COM
                            </div>
                            <div class="contents">
                                <ul>
                                    <li>
                                        <a>Giới thiệu HNCmua</a>
                                    </li>
                                    <li>
                                        <a>Mạng lưới HNCmua</a>
                                    </li>
                                    <li>
                                        <a>Điều khoản & điều kiện sử dụng</a>
                                    </li>
                                    <li>
                                        <a>Chính sách bảo mật thông tin</a>
                                    </li>
                                    <li>
                                        <a>HNCmua Blogs</a>
                                    </li>
                                    <li>
                                        <a>Tuyển dụng</a>
                                    </li>
                                    <li>
                                        <a>FAQs</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="col-3">
                            <div class="title">
                                ĐĂNG KÝ NHẬN BẢN TIN HNCMUA
                            </div>
                            <div class="contents">
                                <p>Vô vàn hot deals đang chờ bạn khám phá!</p>
                                <div class="input-email-box">
                                    <input type="text" placeholder="Email" />
                                    <i class="fa fa-paper-plane"></i>
                                </div>
                            </div>
                            
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
