<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/font/fontawesome-free-6.2.1-web/css/all.css" rel="stylesheet" />
    <link href="~/font/fontawesome-free-6.2.1-web/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <link href="~/css/detail/detail.css" rel="stylesheet" />
    <link href="~/css/online-support.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/home/home-main.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="section-header">
            <div class="header-wrap">
                <div class="header">
                    <div class="container">
                        <div class="d-flex justify-content-between">
                            <div class="header-logo"><a href="~/"><img src="~/img/logo.png" /></a></div>
                            <div class="header-search">
                                <div class="header-buy-link">Gửi link/hình ảnh<br>để nhận báo giá</div>
                                <div class="icon-link d-none">
                                    <img src="~/img/link.png" />
                                </div>
                                <form class="mobile-mode">
                                    <div class="search-box">
                                        <img src="~/img/search.png" />
                                        <input type="text" class="search-box-text" placeholder="Nhập link hoặc tên sản phẩm bạn cần mua" />
                                        <i class="fa fa-picture-o search-box-button" aria-hidden="true"></i>
                                    </div>
                                </form>
                            </div>
                            <div class="header-tool">
                                <div class="notification-wrap icon-header-mobile">
                                    <div class="img-box">
                                        <img src="~/img/tracking.png" class="img-tool" />
                                    </div>
                                </div>
                                <div class="notification-wrap icon-header-mobile">
                                    <div class="img-box">
                                        <img src="~/img/search.png" class="img-tool" />
                                    </div>
                                </div>
                                <div class="notification-wrap">
                                    <div class="img-box">
                                        <img src="~/img/bell.png" class="img-tool" />
                                    </div>
                                </div>
                                <div class="user-wrap">
                                    <div class="img-box">
                                        <img src="~/img/account.png" class="img-tool" />
                                    </div>
                                    <div class="user-sub">
                                        <div class="user-box">
                                            <ul>
                                                <li>
                                                    <a class="mr-3">Đăng nhập</a>
                                                    |
                                                    <a class="ml-3">Đăng ký</a>
                                                </li>
                                                <li>
                                                    <a>Quản lý tài khoản</a>
                                                </li>
                                                <li>
                                                    <a>Đơn hàng của tôi</a>
                                                </li>
                                                <li>
                                                    <a>Đơn hàng chờ thanh toán</a>
                                                </li>
                                                <li>
                                                    <a>Ví HNCpay</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-wrap">
                                    <div class="img-box">
                                        <img src="~/img/cart.png" class="img-tool" />
                                    </div>
                                </div>
                            </div>
                            <div class="header-language">
                                <a>
                                    <img src="~/img/vietnamese.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-menu">
                    <div class="container d-flex align-items-center">
                        <div class="menu">
                            <ul class="list-item">
                                <li class="top-menu-item">
                                    <a> HOT DEALS </a>
                                </li>
                                <li class="top-menu-item">
                                    <a> HNCMUA ORDER </a>
                                </li>
                                <li class="top-menu-item">
                                    <a> HNCMUA SHOP </a>
                                </li>
                                <li class="top-menu-item">
                                    <a> HNCMUA EXPORT</a>
                                </li>
                                <li class="top-menu-item">
                                    <a> BLOGS </a>
                                </li>
                                <li class="detail-top-menu">
                                    <div class="header-product-wrap">
                                        <div class="list-category">
                                            <p>DANH MỤC</p>
                                            <ul>
                                                <li>Điện tử - Thiết bị số</li>
                                                <li>Nhà cửa đời sống</li>
                                                <li>Tiêu dùng thực phẩm</li>
                                                <li>Làm đẹp</li>
                                                <li>Sức khoẻ</li>
                                                <li>Mẹ & bé</li>
                                                <li>Thời trang</li>
                                            </ul>
                                            <a>Xem tất cả</a>
                                        </div>
                                        <div class="list-category brands">
                                            <p>THƯƠNG HIỆU</p>
                                            <ul>
                                                <li>Adidas</li>
                                                <li>Zara</li>
                                                <li>Anne klein</li>
                                                <li>Ray-ban</li>
                                                <li>Fossil</li>
                                            </ul>
                                        </div>
                                        <div class="list-img">
                                            <div class="item">
                                                <div class="img-wrap">
                                                    <a>
                                                        <img src="~/img/header-detail/1663ce91-0c7c-419f-ba49-a9b3970c1958.jpg" />
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="img-wrap">
                                                    <a>
                                                        <img src="~/img/header-detail/f6df1cde-4c0f-4390-9544-4993e18d85ae.jpg" />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="overlay"></li>
                            </ul>
                        </div>
                        <div class="track-order">
                            <a>Theo dõi đơn hàng</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()


    <footer class="footer-wrap">
        <div class="partner-logo">
            <div class="container">
                <div class="d-flex justify-content-between">
                    <a>
                        <img src="~/img/0000002_desktops.jpg" />
                    </a>
                    <a>
                        <img src="~/img/0000017_apple.jpg" />
                    </a>
                    <a>
                        <img src="~/img/asos.png" />
                    </a>
                    <a>
                        <img src="~/img/b.png" />
                    </a>
                    <a>
                        <img src="~/img/casio.png" />
                    </a>
                    <a>
                        <img src="~/img/nike.png" />
                    </a>
                    <a class="mobile-mode">
                        <img src="~/img/panasonic.png" />
                    </a>
                    <a class="mobile-mode">
                        <img src="~/img/zara.png" />
                    </a>
                    <a class="mobile-mode">
                        <img src="~/img/kw.png" />
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="row">
                        <div class="col-3">
                            <div class="title">
                                Hỗ trợ khách hàng
                            </div>
                            <div class="contents mobile-mode">
                                <ul>
                                    <li>
                                        <a>Hướng dẫn đặt hàng</a>
                                    </li>
                                    <li>
                                        <a>Lưu ý khi mua hàng</a>
                                    </li>
                                    <li>
                                        <a>Chính sách thanh toán</a>
                                    </li>
                                    <li>
                                        <a>Chính sách tích điểm HNCpoint</a>
                                    </li>
                                    <li>
                                        <a>Chính sách vận chuyển & giao hàng</a>
                                    </li>
                                    <li>
                                        <a>Chính sách đền bù</a>
                                    </li>
                                    <li>
                                        <a>Giải quyết khiếu nại</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="title">
                                Về hncmua.com
                            </div>
                            <div class="contents mobile-mode">
                                <ul>
                                    <li>
                                        <a>Giới thiệu HNCmua</a>
                                    </li>
                                    <li>
                                        <a>Mạng lưới HNCmua</a>
                                    </li>
                                    <li>
                                        <a>Điều khoản & điều kiện sử dụng</a>
                                    </li>
                                    <li>
                                        <a>Chính sách bảo mật thông tin</a>
                                    </li>
                                    <li>
                                        <a>HNCmua Blogs</a>
                                    </li>
                                    <li>
                                        <a>Tuyển dụng</a>
                                    </li>
                                    <li>
                                        <a>FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="title mobile-mode">
                                ĐĂNG KÝ NHẬN BẢN TIN HNCMUA
                            </div>
                            <div class="contents mobile-mode">
                                <p>Vô vàn hot deals đang chờ bạn khám phá!</p>
                                <div class="input-email-box">
                                    <input type="text" placeholder="Email" />
                                    <i class="fa-solid fa-paper-plane"></i>
                                </div>
                            </div>
                            <div class="title">
                                Kết nối với chúng tôi
                            </div>
                            <div class="contents d-flex">
                                <div class="item-contents" title="Facebook">
                                    <a>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="item-contents" title="Instagram">
                                    <a>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="item-contents" title="Youtube">
                                    <a>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="item-contents" title="Zalo">
                                    <a>
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="title mobile-mode">
                                TẢI ỨNG DỤNG
                            </div>
                            <div class="contents mobile-mode">
                                <p>HNCmua đã có mặt trên 2 nền tảng di động IOS & Android. Hãy mang đến cho mình trải nghiệm mua sắm khác biệt</p>
                                <div class="download-app-wrap">
                                    <div>
                                        <img class="qr-code" src="~/img/qr.png" />
                                    </div>
                                    <div class="link-download">
                                        <a>
                                            <img src="~/img/appstore.png" />
                                        </a>
                                        <a>
                                            <img src="~/img/chplay.png" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="show-moblie">
                                <a>
                                    <img src="~/img/footer-bottom/layer69.png" />
                                </a>
                            </div>
                        </div>

                        <div class="col-12 mobile-mode">
                            <div class="border-bottom-footer mt-3 mb-4"></div>
                        </div>
                    </div>
                    <div class="row mobile-mode">
                        <div class="col-6">
                            <div class="title">
                                TRỤ SỞ CHÍNH - HÀ NỘI
                            </div>
                            <div class="contents">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Địa chỉ:</td>
                                            <td>Tầng 2, tòa nhà CT4, Vimeco 2, phố Nguyễn Chánh, phường Trung Hòa, quận Cầu Giấy, thành phố Hà Nội.</td>
                                        </tr>
                                        <tr>
                                            <td>Điện thoại:</td>
                                            <td>(+84) 24 3556 2896 - Email: info@hopnhat.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="title">
                                CHI NHÁNH - TP. HỒ CHÍ MINH
                            </div>
                            <div class="contents">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Địa chỉ:</td>
                                            <td>	Tầng 8, tòa nhà Athena, số 146 – 148 đường Cộng Hòa, phường 12, quận Tân Bình, thành phố Hồ Chí Minh.</td>
                                        </tr>
                                        <tr>
                                            <td>Điện thoại:</td>
                                            <td>	(+84) 28 3948 3917 - Email: info@hopnhat.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="border-bottom-footer mt-3 mb-4"></div>
                        </div>
                    </div>
                    <div class="row mobile-mode">
                        <div class="title">
                            HNC TẠI NƯỚC NGOÀI
                        </div>
                        <div class="contents">
                            <div class="row">
                                <div class="col-3">
                                    <div class="country-name">
                                        <p>♦ Mỹ</p>
                                        <p class="address">
                                            California: 12122 Brookhurst St., Garden Grove, CA 92840.
                                        </p>
                                        <p class="address">
                                            Oregon: 402 SE 108th Ave, Portland, OR 97216.
                                        </p>
                                        <p class="address">
                                            Texas: 11127 Bellaire Blvd Houston, Tx 77072.
                                        </p>
                                    </div>
                                    <div class="country-name">
                                        <p>♦ TÂY BAN NHA</p>
                                        <p class="address">
                                            Madrid: Calle Rosario 1-Local 2-28029 Madrid.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="country-name">
                                        <p>♦ ĐỨC</p>
                                        <p class="address">
                                            Berlin: Marzahner Strasse 17, Raum C11, 13053 Berlin.
                                        </p>
                                    </div>
                                    <div class="country-name">
                                        <p>♦ NHẬT BẢN</p>
                                        <p class="address">
                                            Tokyo 1: 3rd Floor, OCS Tokyo Skygate 9-27, Tatsumi 3-chome, Koto-ku, Tokyo 135-8527 Japan.
                                        </p>
                                        <p class="address">
                                            Tokyo 2: 140-0012 Tokyo, Shinagawa-ku, Katsushima 1-1-1 Tokyo SRC, Unit B - 2F -2c-10 HNC.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="country-name">
                                        <p>♦ ÚC</p>
                                        <p class="address">
                                            Sydney: Lots 31 and 32, 76b Edinburgh Road, Marrickville NSW 2204.
                                        </p>
                                        <p class="address">
                                            Melbourne: 35/131 Hyde St, Yarraville, VIC 3013.
                                        </p>
                                    </div>
                                    <div class="country-name">
                                        <p>♦ HÀN QUỐC</p>
                                        <p class="address">
                                            Seoul: Gangseo-gu Hanul-gil 246 KE Cargo Terminal Gate24 Hanjin Express - HNC.
                                        </p>

                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="country-name">
                                        <p>♦ TRUNG QUỐC</p>
                                        <p class="address">
                                            Quảng Châu: Số 2, đường Quân Dân Đông, khu Bạch Vân, thành phố Quảng Châu, 510440 (广州市白云区军民东路自编2号).
                                        </p>
                                    </div>
                                    <div class="country-name">
                                        <p>♦ ANH</p>
                                        <p class="address">
                                            Berkshire: Building F2, Brook Farm, Bath Road, Colnbrook, Slough, Berkshire, England, SL3 0LU.
                                        </p>
                                    </div>
                                    <div class="country-name">
                                        <p>♦ PHÁP</p>
                                        <p class="address">
                                            Paris: 28 rue Carnot 94270 Le Kremlin Bictre.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="bottom-content mobile-mode">
                    <div class="contents">
                        <div><p style="color: white; margin-bottom: 0;"> 2020 hncmua | Hotline: 086.891.6699</p></div>

                        <div class="pay-list mobile-mode">
                            <img src="~/img/footer-bottom/hncpay.png" />
                            <img src="~/img/footer-bottom/jcb.png" />
                            <img src="~/img/footer-bottom/shopeepay.png" />
                            <img src="~/img/footer-bottom/zalopay.png" />
                            <img src="~/img/footer-bottom/master.png" />
                            <img src="~/img/footer-bottom/vnpay.png" />
                            <img src="~/img/footer-bottom/visa.png" />
                            <img src="~/img/footer-bottom/atm.png" />
                        </div>
                        <a class="mobile-mode">
                            <img src="~/img/footer-bottom/layer69.png" />
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <div class="online-support"><p>Online support</p></div>
    <div class="support-form">
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $('.owl-carousel.owl-carousel-slide2').owlCarousel({
            loop: true,
            nav: true,
            margin: 12,
            autoplay: true,
            autoplayTimeout: 4000,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })

        $('.owl-carousel.owl-carousel-slide1').owlCarousel({
            loop: true,
            nav: true,
            margin: 12,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })

        $('.owl-carousel.test1').owlCarousel({
            loop: true,
            nav: true,
            margin: 12,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })

        $('.owl-carousel.owl-export').owlCarousel({
            loop: true,
            nav: true,
            margin: 12,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
        $('.owl-carousel.owl-blogs').owlCarousel({
            loop: true,
            nav: true,
            margin: 12,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })

        $('.owl-carousel.slide-list').owlCarousel({
            loop: true,
            nav: true,
            margin: 12,
            dots: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1    
                }
            }
        })


    </script>

    <script type="text/javascript">
        var $tab = $('.btn-tab-detail')
        var $contents = document.getElementsByClassName("content-item");

        $tab.each(function (index) {
            $(this).click(function () {
                $('.btn-tab-detail').removeClass('show')
                $('.content-item').removeClass('d-block')
                
                $(this).addClass('show')
                $contents[index].classList.add('d-block')
            })
        })

        
        // mở rộng thu gọn content
        var showMore = $('.btn-show-content')
        var hideMore = $('.btn-hide-content')
        $('.btn-show-content').click(function () {
            $(this).removeClass('d-flex');
            $(this).next().addClass('d-flex')
            $(this).parents().parents().addClass('max-height-content')
        })
        hideMore.click(function () {
            $(this).siblings().addClass('d-flex');
            $(this).removeClass('d-flex')
            $(this).parents().parents().removeClass('max-height-content')
        })

        //zoom ảnh
        let scale = 1,
            posX = 0,
            posY = 0,
            node = document.getElementsByClassName('img-product-big');


        const render = () => {
            window.requestAnimationFrame(() => {
                let val = `translate3D(${posX}px, ${posY}px, 0px) scale(${scale})`
                node.style.transform = val
            })
        }

        window.addEventListener('hover', (e) => {
            e.preventDefault();

            // Zooming happens here
            if (e.ctrlKey) {
                scale -= e.deltaY * 0.01;
            } else {
                posX -= e.deltaX * 2;
                posY -= e.deltaY * 2;
            }

            render();
        });


         // slide item-slide
        $('.thumbs-item').click(function () {
            $('.popup-slide-wrap').addClass('d-block');
        })

        $('.btn-close-popup-slide').click(function () {
            $('.popup-slide-wrap').removeClass('d-block');
        })

        $('.overlay1').click(function () {
            $('.popup-slide-wrap').removeClass('d-block');
        })


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
