
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="breadcrumb">
            <a>Trang chủ</a>
            <span class="breadcrumb-chevron-right"></span>
            <strong class="curent-item">THỰC PHẨM BỔ SUNG KHOÁNG CHẤT COLDCALM BOIRON KIDS CHO TRẺ TỪ 6 THÁNG TUỔI</strong>
        </div>
    </div>
</div>

<div class="line-break"></div>

<div class="product-detail">
    <div class="page-body product-detail-page">
        <div class="container">
            <div class="row">
                <div class="page-body">
                    <div class="product-essential">
                        <div class="gallery">
                            <div class="picture">
                                <div class="image-box">

                                </div>
                            </div>
                            <div class="picture-thumbs">

                            </div>
                            <div class="popup-slide-wrap">

                            </div>
                        </div>
                        <div class="overview"></div>
                    </div>
                    <div class="product-collateral">
                        <div class="detail-wrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>