.section-header{
    height: 140px;
}

.header-wrap {
    position: fixed;
    transition: .2s;
    top: 0;
    left: 0;
    width: 100%;
    z-index:99;
}


.header {
    background: #d7d7d7;
    padding: 20px 0;
    display: flex;
    align-items: center;
    box-sizing: unset
}


.header-logo {
    height: 50px;
    cursor: pointer;
}

.header-search {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: center;
    flex-grow: 1;
}

.header-buy-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #e1752c;
    padding: 0 20px;
    height: 50px;
    width: 180px;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    margin-right: 20px;
    cursor: pointer;
}

.search-box {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
    border-radius: 25px;
    width: 500px;
    
}

.search-box img {
        height: 18px;
        object-fit: cover;
}

.search-box input {
    height: 50px;
    border: none;
    border-color: transparent !important;
    width: 600px;
    padding: 8px 20px;
}

.search-box-text:focus-visible {
    outline: transparent !important;
}

.header-tool {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.img-tool {
    padding: 0 15px;
    height: 25px;
}

.img-box{
    cursor: pointer;
}

    .img-box:hover ~ .user-sub,
    .user-sub:hover {
        display: block;
    }

    .user-wrap {
        position: relative;
    }

.user-sub {
    position: absolute;
    display:none;
    top: 25px;
    right: -140px;
    min-width: 350px;
    color: #666;
    transition: .5s;
}

.user-box {
    padding: 20px 30px 5px 30px;
    margin-top: 20px;
    background: #eee;
    position: relative;
    cursor: unset;
}

    .user-box::after {
        position: absolute;
        background: #eee;
        width: 20px;
        top: -10px;
        right: 156px;
        height: 20px;
        transform: rotate(45deg);
        display: block;
        content: "";
        z-index: 0;
    }

    .user-box ul {
        list-style: none
    }

        .user-box ul li{
            width: 100%;
            font-weight: 700;
            padding: 10px 0;
        }

            .user-box ul li a{
                color: black !important;
            }
                .user-box ul li:hover a{
                    color: rgba(0, 86, 179) !important;
                    text-decoration: underline !important;
                }

                .notification-wrap, .cart-wrap {
                    opacity: 0.4;
                }

.header-language {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header-language a img {
    width: 32px;
}

.header-menu {
    background: #464646;
}

.menu {
    width: calc(100% - 300px);
}

.list-item {
    height: 50px;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    width: 100%;
}

.top-menu-item {
    padding: 0 40px;
    display: inline-block;
    color: #fff;
    cursor: default;
    height: 100%;
    display: flex;
    align-items: center;
}

.top-menu-item:hover {
    background: #ebebeb;
    color: #000;
    cursor:pointer
}

.track-order {
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: flex-end;
}

.track-order a{
    line-height: 30px;
    padding: 0 20px;
    color: #000;
    border: none;
    font-weight: bold;
    background: #fff;
    cursor: pointer;
}

/*overlay*/
.overlay {
    content: "";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    z-index: -1;
}



/*Detail product detail*/
.detail-top-menu {
    background: #ebebeb;
    width: calc(100% - 200px);
    top: 140px;
    right: 50%;
    display: none;
    transform: translate(50%,0);
    position: absolute;
    padding: 30px;
    z-index: 999;
}

.header-product-wrap{
    display: flex;
}

    .header-product-wrap .list-category {
        width: 200px;
        display: inline-block;
        color: #000;
    }
        .header-product-wrap .list-category p {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: underline;
        }
        .header-product-wrap .list-category a {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            margin-top:20px;
        }
        .header-product-wrap .list-category ul {
            list-style: none;
            margin-left: -42px;
            margin-bottom: 10px;
        }
            .header-product-wrap .list-category ul li {
                padding: 10px;
                margin-left: 10;
            }

                .header-product-wrap .list-category ul li:hover {
                    background-color: #fff;
                    cursor: pointer;
                    color: #0056b3
                }

.list-img {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.list-img .item {
    width: 47%;
}
    .list-img .item .img-wrap {
        width: 100%;
        padding-top: 100%;
        display: inline-block;
        position: relative;
        overflow: hidden;
    }
        .list-img .item .img-wrap a img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
        }


.list-item li:hover ~ .overlay,
.list-item li:hover ~ .detail-top-menu {
    display: block;
}

.detail-top-menu:hover,
.detail-top-menu:hover ~ .overlay{
    display: block
}